body {
    font-family: "Playfair Display";
    background-color: rgba(196, 173, 118, 0.4);
    align-content: center;
}
p {
    color: #222526;
    line-height: 1.1;
    letter-spacing: normal;
    word-spacing: 2px;
    align-content: center;
}
h1,
h2 {
    color: #00808b;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    align-content: center;
}
h3,
h4,
h5,
h6 {
    color: #00808b;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    align-content: center;
}

.highlight {
    color: #890d59;
}
img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    align-content: center;
}
iframe {
    display: block;
    margin: auto;
    align-content: center;
}
.table-container {
    width: 100%;
    align-content: center;
}
.navbar {
    text-align: center;
    width: 100%;
    margin: 30px;
}

/* stuff that doesnt change*/
.navbutton {
    background-color: cornsilk;
    border: 2px dashed #444;

    padding: 10px;
    height: 50px;
}

/* default - mobile/phone */
.navbutton {
    display: inline-block;
    width: 200px;
    margin: -2px;
    align-content: center;
}

/* tablet and up */
@media (min-width: 830px) {
    .navbutton {
        display: inline-block;
        width: 25px;
        margin: -4px;
        align-content: center;
    }
}

/* large desktop */
@media (min-width: 1200px) {
    .navbutton {
        display: inline-block;
        width: 150px;
        margin: 10px;
        align-content: center;
    }
}
