body{
    font-family: "Playfair Display";
    background-color:rgba(196, 173, 118, 0.4) 
}
p {
    color:#222526;
    line-height:1.1;
    letter-spacing: normal;
    word-spacing: 2px;
}
h1, h2 {
    color:#00808b;
        text-align:center;
        text-decoration:underline;
        text-transform:capitalize;
}
h3, h4, h5, h6 {
    color:#00808b;
    text-align:center;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.highlight {
    color:#890d59
}
img{
    display: block;
    margin: auto;
}
.table-container{
    margin-left: auto;
        margin-right:auto;
        
}