body{
    font-family: "Playfair Display";
    background-color:rgba(196, 173, 118, 0.4) 
}
p {
    color:#222526;
    line-height:1.1;
    letter-spacing: normal;
    word-spacing: 2px;
}
h1, h2 {
    color:#00808b;
        text-align:center;
        text-decoration:underline;
        text-transform:capitalize;
}
h3, h4, h5, h6 {
    color:#00808b;
    text-align:center;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

.highlight {
    color:#890d59
}
img{
    display: block;
    margin: auto;
}
.table{
    margin-left: center;
        margin-right:center;
    width:100%;
        
}
.navbar {
    text-align:center;
    width:100%;
}

/* stuff that doesnt change*/
.navbutton {
    background-color: cornsilk;
        border: 2px dashed #444;
    
    
    padding:10px;
    height:50px;
}

/* default - mobile/phone */
.navbutton {
    width:100%;
    margin:-2px;
}


/* tablet and up */
@media (min-width: 830px){
    .navbutton{
       display:inline-block; 
       width:25%;
       margin:-4px;
  }
}


/* large desktop */
@media (min-width: 1200px) {
    .navbutton {
         display:inline-block;
         width:150px;
         margin:10px;
    }
}










